.my_ul-nav{
  margin-right: 0!important;
  margin-left: auto;
  li{
    margin-right: 20px;
  }
  .my_btn{
    @include flex-start;
    border: 1px solid #30488f;
    background: #fff;
    color: #30488f !important;
    &:hover{
      background: #30488f;
      color: white!important;
    }
    svg{
      margin-right: 8px;
    }
  }
}

header hr {
  margin: 0 16px;
}

.bg-light{
  background-color: $bg-principale;
}