
main {
  color: $text-color;
}
#understand{
  padding: 100px 0;

  #loginemail {
    @include flex-start;
    margin-top: 10px;
    margin-bottom: 25px;

    svg{
      width: 1rem;
      margin-left: 3px;
      align-self: flex-end;
    }
  
  }

  .left{
    h2,h6{
    margin-bottom: 30px;
    }
  }
  .left,.right{
    @include xl-down;
  }
}

.signup{
  @include flex-start;
  p{
    margin: 0 15px;
  }
}

#tradprocess{
  background-color: $bg-section;
  padding: 60px 0;
  .row{
    @include flex-center;
    *{
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  .img_col img{
    @include imgsec;
  }
  .img_center img{
    max-width: 280px;
  }
  hr {
    width: 100%;
    margin-top: 20px;
  }
}
