* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
}

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-start{
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin xl-down {
  @media (max-width: 1200px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@mixin imgsec {
  max-width: 140px;
  max-height: 105px;
  margin: 20px auto;
}

@mixin xl-top {
  @media (min-width: 1200px){
    width: 50%;
  }
}

@mixin lg-down {
  @media (max-width: 992px){
    flex-direction: column-reverse;
  }
}

@mixin lg-down-text {
  @media (max-width: 992px){
    justify-content: center;
    text-align: center;
  }
}

@mixin lg-down-size {
  @media (max-width: 992px){
    width: 50%;
  }
}